@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
.home{
    width:100%;
    height:100vh;
    /* background-color:green; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.home-component{
    width:90%;
    /* background-color:red; */
    height:60vh;
    padding:0px;
    padding-right:3.5rem;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
   /* position: relative;
   right:8rem;
   top:-5rem; */
   height:fit-content;
}
.fifa-heading{
    margin:0rem 0rem 1rem 0rem;
    font-family: 'Exo 2', sans-serif;
    font-size:7rem;
    background: -webkit-linear-gradient(#eee,#000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fifa-heading span{
    margin-left:0.2rem;
    font-family: 'Exo 2', sans-serif;
    background: -webkit-linear-gradient(yellow,orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-filter{
    margin:0rem 2rem 1rem 0rem;
    font-size:1.3rem;
    font-weight: 700;
}
.search-filter select{
    margin-left:0.2rem;
    font-weight:600;
    max-width:200px;
    height:25px;
    fot-weight:1rem;
}
.search-filter option{
    font-weight:550;
    font-weight:1rem;
}
.search-bar{
    margin-top:0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    padding:0rem 0.5rem 0rem 0.5rem;
    width:300px;
    height:30px;
    border-radius: 20px;
}
.search-bar input{
    border:none;
    font-weight:600;
    fot-size:1.1rem;
    color:grey;
    background-color:transparent;
}
.search-bar input:focus{
    outline:none;
    border:none;
}
.search-bar button{
    font-size:1.1rem;
    background:transparent;
    border:none;
    outline:none;
    height:100%;
}
.search-bar button:hover{
    color:rgba(255,99,132);
}
.filtered-list{
    width:90%;
    padding-right:4.2rem;
    /* background-color:yellow; */
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
    cursor:pointer;
    height:125px;
}
.filtered-list ul{
    /* box-shadow:0.5px 1px 1px 1px lightgrey; */
    background-color:rgba(255,255,255,0.5);
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
.filtered-list ul li{
    width:260px;
    font-size:0.8rem;
    /* background-color:red; */
    list-style:none;
    font-weight:650;
    padding:0.5rem;
}
.filtered-list ul a {
    text-decoration:none;
    color:black;
}
.filtered-list ul a li:hover{
    background-color:rgba(255,99,132);
    color:white;
}
.filtered-list .search-property{
    font-size:0.8rem;
    font-weight:580;
}


/* responsiveness*/
@media screen and (max-width:900px)
{
    .home-component{
        padding-right:0px;
        align-items:center;
    }
    .search-filter{
        margin:0px 0px 1rem 0px;
        font-size:1.4rem;
    }
    .filtered-list{
        padding:0px;
        align-items:flex-start;
        justify-content:center;
    }
    .search-bar {
        width: 309px;
        height: 43px;
    }
    .fifa-heading{
        background: -webkit-linear-gradient(#000,#000);
        background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
    .search-bar input{
        font-size:1.1rem;
    }
    .search-filter select{
        height: 27px;
        font-size: 1.1rem;
    }
    .filtered-list ul li{
        font-size:1.2rem;
        width:280px;
        font-weight:700;
    }
    .filtered-list .search-property{
        font-size:0.9rem;
        font-weight:600;
    }
}
